[project]
inputfile = C:\Users\m17538\AppData\Local\Temp\data\CXP_TEST_FPGA_Register_Map.xlsx
sheetindex = 2
outputfolder = C:\Users\m17538\AppData\Local\Temp\out
vmethodlist = {'ADDRMATCH': ': Check for Address Overlapping', 'SIZEMATCH': ': Check for Size Match', 'INDEXOVERLAP': ': Check for Index Overlapping'}

